body {
  margin: 0;
  background: gray;
}

.App {
  display: grid;
  grid-template-columns: repeat(1000, 1px);
  grid-template-rows: repeat(1000, 1px);
  width: 1000px;
  height: 1000px;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
}

.hero {
  width: 1000px;
  margin: 0 auto;
}
